flask
psycopg2-binary
wtforms
flask_sqlalchemy
datetime
flask_wtf
setuptools
Werkzeug
flask_migrate
pyjwt
pytz
gunicorn

eventlet
flask_cors
flask_socketio
apscheduler
flask_sqlalchemy
flask_migrate
pyjwt
boto3
pymysql
cryptography